services:
  - type: web
    name: pipaflores
    env: static
    buildCommand: npm install && npm run build
    staticPublishPath: dist
    routes:
      - type: rewrite
        source: /*
        destination: /index.html
    rootDir: .
    envVars:
      - key: NODE_VERSION
        value: 18

